.contents__table__article
  .contents__table__article__name-time
    %p.contents__table__article__name-time__name
      seo
    %p.contents__table__article__name-time__time
      2016/09/21 06:16:55
  %p.contents__table__article__sentence
    Hello world!
  .contents__table__article__name-time
    %p.contents__table__article__name-time__name
      neko
    %p.contents__table__article__name-time__time
      2016/09/22 06:16:55
  %p.contents__table__article__sentence
    Good bye world!
