.contents__board__list
  .contents__board__list__title
    %p sample
  .contents__board__list__subtitle
    %p Good bye world
  .contents__board__list__title
    %p sample
  .contents__board__list__subtitle
    %p Good bye world
