.contents__board__list
  - current_user.groups.each do |group|
    = link_to group_messages_path(group) do
      .contents__board__list__title
        = group.name
      .contents__board__list__subtitle
        = group.show_last_message
