
%header.header
  %p チャットグループ

.contents
  .contents__user
    .contents__user__name
      %p seo
    .contents__user__setting
  .contents__group
    = render :partial => "group"
  .contents__board
    = render :partial => "board"
  .contents__table
    .contents__table__free-space
    = render :partial => "article"
    = render :partial => "post"

