@import "./reset";
@import "./variable";

header.header {
  width: 100vw;
  color: white;
  background-color: #38AEF0;
  text-align: center;
}

.contents {
  height: 84vh;
  width: 100vw;
  background-color: white;
  position: relative;
  &__user {
    width: 260px;
    height: 100px;
    background-color: #253141;
    padding: 0 20px;
    border-bottom-color: #eeeeee;
    float: left;
    font-size: 16px;
    &__name {
      line-height: 100px;
      font-weight: bold;
      color: #ffffff;
      float: left;
    }
    &__setting {
      line-height: 100px;
      float: right;
      color: white;
      letter-spacing: 2px;
    }
  }
  &__group {
    width: 100vw - 300;
    height: 100px;
    border-bottom-color: #eeeeee;
    margin-left: 300px;
    padding: 0 40px;
    position: relative;
    &__title {
      position: absolute;
      top: 35px;
      font-size: 20px;
      color: #333333;
    }
    &__menbers {
      position: absolute;
      top: 70px;
      font-size: 12px;
      color: #999999;
      float: left;
    }
    &__edit {
      position: absolute;
      top: 28px;
      right: 40px;
      line-height: 40px;
      color: #38AEF0;
      height: 40px;
      padding: 0 20px;
      border: 1px solid #38AEF0;
    }
  }
  &__board {
    width: 300px;
    height: 100%;
    background-color: #2f3e51;
    color: #FFFFFF;
    float: left;
    &__list {
      width: 300px;
      height: 80px;
      &__title {
        margin: 0 0 5px 20px;
        padding-top: 20px;
        font-size: 15px;
      }
      &__subtitle {
        font-size: 11px;
        margin: 0 0 20px 20px;
      }
    }
  }
  &__table {
    width: 100vw - 300;
    height: 100%;
    background-color: #AAAAAA;
    color: #434A54;
    margin-left: 300px;
    position: relative;
    &__free-space {
      width: 100%;
      height: 46px;
    }
    &__article {
      height: 85px;
      padding: 0 40px;
      display: flex;
      flex-direction: column;
      &__name-time {
        &__name {
          font-size: 16px;
          font-weight: bold;
          margin-bottom: 10px;
          float: left;
        }
        &__time {
          padding-left: 10px;
          font-size: 12px;
          color: #999999;
          float: left;
        }
      }
      &__sentence {
        font-size: 14px;
        padding-bottom: 40px;
      }
    }
    &__post {
      height: 90px;
      width: 100%;
      position: absolute;
      bottom: 0;
      &__notes-att {
        overflow: hidden;
        width: auto;
        font-size: 16px;
        color: #434A54;
        margin: 20px 135px 20px 40px;
        background-color: white;
        position: relative;
        &__notes {
          height: 50px;
          width: 100% - 10;
          min-width: 60%;
          float: left;
        }
        &__attachment {
          font-size: 20px;
          width: 30px;
          height: 30px;
          float: right;
          position: absolute;
          bottom: 10px;
          right: 0;
        }
      }
      &__button {
        height: 50px;
        width: 80px;
        margin: 20px 40px 20px 0;
        background-color: #38AEF0;
        color: white;
        text-align: center;
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
  }
}

textarea {
  resize: none;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding-left: 10px;
}

label.image {
  width: 30px;
  height: 50px;
  float: right;
  position: absolute;
  bottom: 0;
  right: 0;
}
